@mixin center-in-block($size){
   height: $size; 
	width: $size; 
	line-height: $size;
   text-align: center;
}


@mixin media-query($screen-size){
   @media screen and (min-width: $screen-size){
      @content;
   }
}